@import './base/reset';
@import './base/colors';
@import './abstracts/mixins';


body{
    background-image: url("./images/blur-clean.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    gap: 10%;
    overflow: hidden;

}

div{
    width: 1em;
    height: 1em;
    border: 5px solid white;
    border-radius: 10%;
    opacity: 0.5;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    font-size: 25vmin;
    transform: translateX(1500px);
}

